<div class="info-sized window">
    <div class="window-header moveable">
        <button onclick="navButtonClick('info-btn','info-window')">
            <img src="/assets/x.png" alt="x_btn">
        </button>
    </div>
    <div class="window-main-content">
        <div class="info-element">
            <img src="/assets/phone.png" alt="phone.png">
            <p>6933333333</p>
        </div>
        <div class="info-element">
            <img src="/assets/mail.png" alt="mail.png">
            <p>fakemail123@gmail.com</p>
        </div>
        <div class="info-element">
            <img src="/assets/linkedin.png" alt="linkedin.png">
            <p>appleceo.link</p>
        </div>
        <div class="info-element">
            <img src="/assets/github.png" alt="github.png">
            <p>mrbrown.link</p>
        </div>
        <div class="info-element">
            <img src="/assets/resume.png" alt="resume.png">
            <p>Click to Download</p>
        </div>
    </div>    
</div>