<div class="supa-small window">       
    <div class="window-header moveable">
    <button onclick="navButtonClick('music-btn','music-player-window')">
        <img src="/assets/x.png" alt="x_btn">
    </button>
  </div>
  <div class="window-main-content">
    <img src="/assets/example_song_icon.png" alt="example_song_icon">
    <div class="song-name-and-manipulation-btns">
        <p>follows on screen?</p>
        <div class="manipulation-btns">
            <button id="prev-btn">
                <img src="/assets/prev_btn.png" alt="x_btn">
            </button>
            <button id="play-pause-btn" class="play">
                <img id="play-btn-icon" src="/assets/play_btn.png" alt="x_btn">
                <img id="pause-btn-icon" src="/assets/pause_btn.png" alt="x_btn" hidden>
            </button>
            <button id="next-btn">
                <img src="/assets/next_btn.png" alt="x_btn">
            </button>
        </div>
    </div>
  </div>

  <audio id="audioPlayer" src="/assets/mp3/ballbreaker.mp3"></audio>

</div>    
