<ul>
  <li>
      <a href="/index.html">
          <div id="home-icon">
              <img src="/assets/home_icon.png" alt="home-icon">
              <p>Home</p>
          </div>
      </a>
  </li>

  <li>
      <a href="/UI/pages/my_work.html">
          <div id="projects-icon">
              <img src="/assets/projects_icon.png" alt="projects-icon">
              <p>Projects</p>
          </div>
      </a>
  </li>

  <li>
      <a href="/UI/pages/about_me.html">
          <div id="about-me-icon">
              <img src="/assets/about_me_icon.png" alt="about-me-icon">
              <p>Stoty</p>
          </div>
      </a>
  </li>

  <li>
    <button id="info-btn" onclick="navButtonClick('info-btn', 'info-window')">
      <img src="/assets/info_icon.png" alt="info-icon">
      <p>Info</p>
    </button>
  </li>

  <li>
    <button id="music-btn" onclick="navButtonClick('music-btn', 'music-player-window')">
      <img src="/assets/music_icon.png" alt="music-icon">
      <p>Music</p>
    </button>
  </li>
</ul>