/*------------------------------------------general-------------------------------------------------*/

@media (max-width: 768px) {
}
/*general*/
:root {
    --dark: #262526;
    --light: #d9d9d9;
    --selected: #c9c9c9;
    --inviz: #00000000;
    
    --scrollbar: #c1c1c1;
    --scrollbar-hover: #707070;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Shantell Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden; /* Disable scrolling */
    background-color: black;
}
.background{
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    position: fixed;
    overflow-y: auto;    
}


/*custom-scrollbar*/
.custom-scroll{
    background-color: var(--inviz);
    height: 100vh;
    width: 99vw;
    overflow-y: auto; 

    display: flex;
    align-items: start;
    justify-content: center;
}
.custom-scroll::-webkit-scrollbar {
    width: 12px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: var(--inviz);
    margin-block: 2vh;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}



/*----------------------------------------------down syndrome-------------------------------------------*/



/*nav*/
nav {
    position: fixed;
    bottom: 0;
    width: 30%;
    left: 50%;/*move left part at the center*/
    transform: translateX(-50%);/*moves it back 50% of the width*/
    background-color: #ffffffdb; /*somewhat transparent*/
    padding: 5px 20px;
    border-radius: 15px;
    margin-bottom: 15px;

    ul {
        list-style-type: none;/*no dot*/
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: var(--inviz);
                height: 70px;
                width: 70px;
                border-radius: 15px;
                img {
                    width: 50px;
                    height: 50px;
                }    
            }      
        }    
        button{
            cursor: pointer;
            border: 0px;
            background-color: var(--inviz);
            height: 70px;
            width: 70px;
            border-radius: 15px;
            img {
                width: 50px;
                height: 50px;
            }    

        }     
    }  
    .selected{
        background-color: var(--selected);
    }
}



/* transision effects */
.ease-in {
    opacity: 0; /* Start as invisible */
    transition: opacity 0.5s ease-in; /* Transition effect */
}
.fade-in {
    opacity: 1; /* End state: fully visible */
}
.fade-out {
    opacity: 0; /* End state: fully visible */
}    



/*---------------------------------------------windows--------------------------------------------------*/



/*general window*/
.supa-small{
    height: 125px;
    width: 350px;
}
.info-sized{
    height: 400px;
    width: 250px;
}
.small{
    height: 91vh;
    width: 1100px;
}
.mid{
    height: 1500px;
    width: 1000px;
}
.big{
    height: 1500px;
    width: 1400px;
}
.bigger{
    height: 1850px;
}
.window{
    background-color: var(--light);
    border-radius: 20px;
    
    margin: 40px;
    
    display: flex;
    flex-direction: column;
    
    .window-header{
        background-color: var(--dark);
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 5vh;

        display: flex;
        align-items: start;
        justify-content: end;

        button{
            margin: 7px;
            background-color: var(--inviz);
            border: 0px;
            cursor: pointer;
            img{
                width: 20px;
                height: 20px;  
            }
        }
    }
    .window-main-content{
        background-color: var(--inviz);
        height: 90%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {

            margin: 150px;
            font-size: 70px;
            font-weight: 400;
            text-align: center;
        }
        
    }
  
}


/*spesific page content*/
#conteiner2{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    #top-part{
        height: 50px;
        width: 80vw;

        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 35px;
            font-weight: 400;
        }
    }
    #card-box{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card{
            cursor: pointer;

            width: 300px;
            height: 300px;
            background-color: white;
            margin: 50px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            transition: background-color 0.3s ease-in-out;
            img{
                height: 150px;
                width: 250px;
            }
            h3{
                margin-left: -140px;
                margin-top: 15px;
                margin-bottom: 5px;
                font-weight: 500;
            }
            p {
                margin: 0px;
                font-size: 17px;
                text-align: left;
            }
        }
    }
    
    #filter-by-category{

        transform: translateY(-90%);
        padding: 50px;
        width: 80vw;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        border-radius: 12px;
        #selection{
            width: 25%;
            border: 1px solid black;
            
            display: flex;
            flex-direction: column;
            button{
                img{

                }
                p{

                }
            }
        }
        #results{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;

            div{
                height: 32%;
                width: 100%;
                border: 1px solid black;
                border-radius: 12px;
                display: flex;
                flex-direction: row;
                align-items: center;

                img{
                    border: 1px solid black;
                    border-radius: 12px;
                    padding: 20px;
                    margin: 20px;
                    height: 150px;
                    width: 150px;
                }
                div{
                    border: 0px;
                    display:flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    
                    h3{
                        font-size: 25px;
                    }
                    p{
                        font-size: 15px;
                        padding-left: 40px;
                    }
                }
            }
        }
    }
    .inviziBILL{
        visibility: hidden;
    }
}

#conteiner3{
    h2{
        font-size: 35px; 
        font-weight: 500;
    }
    img{
        height: 300px;
        width: 550px;
    }

    .stoy-section{
        display: flex;
        padding-bottom: 30px;
        p {
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 25px;
            font-size: large;
        }
    }
    .right-pic{
        padding-left: 100px;
        padding-right: 50px; 
    }
    .left-pic{
        padding-left: 50px;
        padding-right: 100px;
    }
}




#music-player-window{
    
    visibility: hidden;
    position: absolute;
    left: 100px;
    top: 100px;

    
    .window{
        border: 1px solid black;
        .window-main-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            img{
                height: 75px;
                width: 75px;
            }
            .song-name-and-manipulation-btns{
                .manipulation-btns{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    button{
                        background-color: var(--inviz);
                        border: 0px;
                        cursor: pointer;
                        /*transition: background-color 0.3s ease-in-out;*/
                        img{
                            height: 25px;
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}


#info-window{

    visibility: hidden;
    position: absolute;
    left: 100px;
    top: 100px;


    .window{
        margin: 0;
        border: 1px solid black;
        .window-main-content{
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            .info-element{
            
                display: flex;
                flex-direction: row;
                justify-content: start;
                img{
        
                    height: 30px;
                    width: 30px;
                }
            }
        }
    
    }    
}













#sure-u-wanna-leave{

    visibility: hidden;
    position: absolute;
    top: 37%;
    left: 47%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    
    .window{
        border: 1px solid black;
        .window-main-content{

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            
            p{
                padding-left: 15px;
            }
            #yes-no-buttons{

                display: flex;
                flex-direction: row;
                justify-content: end;
                width: 100%;
                button{
                    height: 25px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-left: 15px;
                    margin-right: 15px;
                    background-color: var(--inviz);
                    border: 1px solid black;
                    border-radius: 7px;
                    cursor: pointer;
                }
            }
        }
    }
}

